*.pem
*/build/
build/
out/
include/
include_server/
build_deps_server.sh

*.so
*.o
*.exe
*.lib
*.dylib
*.dll
*.obj

*.exp
*.ifc
*.pcm
*.a
*.la
*.lo
*.lai

*.swp
*.vs/
*.vscode/
*.idea/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
